*.o
*.dylib
*.so

windows/Debug/
windows/Release/
windows/ARM/
windows/ipch/
windows/x64/
windows/codegen.wp8/ARM/
windows/codegen.wp8/Debug/
windows/codegent.w81/Debug/
windows/test.codegen.wp8/Bin/
windows/test.codegen.wp8/obj/
*.opensdf
windows/codegen.wp8/Release/
windows/codegent.w81/ARM/
windows/codegent.w81/Release/
windows/codegent.w81/
windows/test.codege.w81/bin/
windows/test.codege.w81/obj/
